.services_section {
    padding: 2rem;
}

.services_header {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: cursive;
}

.services_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.service_card {
    padding: 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
    text-align: center;
}

.service_card:hover {
    background-color: #d2e8ff;
    cursor: pointer;
    transition: background-color 0.5s;
}

.service_card_img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 0.75rem;
}

.service_card_title {
    font-size: 1rem;
    margin: 0;
}

p{
    margin: 1em;
  }